*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body
{
    height: 100%;
    font-family: Arial, sans-serif;
}

body
{
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;


}
input
{
    background: #505047;
    color: white;
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    margin: 4px;

}
input::placeholder
{
    color: white;
}
button
{
    background: #2c2c2c;
    color: white;
    cursor: pointer;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;

}
.delete-btn
{
    margin-left: 20px;
    width: 30px;
    background: red;
    transition: background-color 0.3s ease;
}
.delete-btn:hover
{
    background-color: darkred;
}
#task-list {
    list-style-type: none;  /* Usunięcie domyślnych kropek przy elementach listy */
    padding: 0;             /* Usunięcie domyślnych odstępów wewnętrznych */
    margin: 0;              /* Usunięcie domyślnych marginesów */
}

/* Stylizacja pojedynczego elementu listy (li) */
.task-item {
    display: flex;              /* Ustawienie flexboxa dla lepszego rozmieszczenia elementów */
    justify-content: space-between;  /* Rozstawienie elementów na szerokość */
    align-items: center;         /* Wyrównanie elementów w pionie */
    padding: 10px 15px;          /* Odstępy wewnętrzne */
    margin: 5px 0;               /* Odstępy między elementami listy */
    background-color: #4f4f46;   /* Jasnoszare tło */
    border-radius: 8px;          /* Zaokrąglenie rogów */
    border: 1px solid #ddd;      /* Cienka obwódka */
    transition: background-color 0.3s ease;  /* Płynna zmiana tła */
    font-weight: bold;
    color: white;
}

.task-date
{
    margin-left: auto;
    font-weight: bold;

}

.ramka
{
    padding: 30px;
    background: #5e4f6c;
    border: 5px solid #393933;
    border-radius: 15px;
    height: auto;



}